[submodule "source/workspace/CategoryLib"]
	path = source/workspace/CategoryLib
	url = http://Cs-cust06-int.cs.aau.dk/git-ro/category-lib
	ignore = dirty
[submodule "source/workspace/PictogramLib"]
	path = source/workspace/PictogramLib
	url = http://Cs-cust06-int.cs.aau.dk/git-ro/pictogram-lib
	ignore = dirty
[submodule "source/workspace/Ambilwarna"]
	path = source/workspace/Ambilwarna
	url = http://cs-cust06-int.cs.aau.dk/git-ro/ambilwarna.git
	ignore = dirty
[submodule "source/workspace/PictoAdmin"]
	path = source/workspace/PictoAdmin
	url = http://cs-cust06-int.cs.aau.dk/git-ro/pictoadmin
	ignore = dirty
[submodule "source/TimerLib"]
	path = source/TimerLib
	url = http://cs-cust06-int.cs.aau.dk/git-ro/timer-lib.git
